.navbar {
    background: rgba(10, 10, 10, 0.7);
    margin-bottom: 0;
    border: none;
}

/* login page */
html, body, .container-table {
    height: 100%;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: -webkit-flex; /* For Safari */
    -webkit-justify-content: center; /* For Safari */
    -webkit-align-items: center; /* For Safari */
}

#loginButton {
    width: 50%;
}

#loginBody {
    background-image: url(img/login.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.well {
    background-color: rgba(245, 245, 245, 0.7);
    border: none;
}

#home_button {
    color: #f5f5f5;
    color: rgba(245, 245, 245, 0.7);
    font-size: 25px;
}

#home_button:hover {
    color: white;
}

#home_icon {
    padding-top: 20px;
    padding-left: 20px;
}