html {
    background: url(img/background_land.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: none;
}

label{
    color: whitesmoke;
}

.well {
   background-color: rgba(0, 0, 0, 0.4);
   border: none;
}
