@model PollInTheAir.Domain.Models.Question
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />

    <title>Poll in the air</title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Create free text question</h1>
        </div>

        @using (Html.BeginForm("CreateFreeTextQuestion", "Poll"))
        {
            <div class="row">
                <div class="form-group col-xs-8">
                    @Html.LabelFor(m => m.Statement)
                    @Html.TextBoxFor(m => m.Statement, new { @class = "form-control col-xs-4" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-8">
                    <textarea class="form-control" rows="3" readonly="readonly"></textarea>
                </div>
            </div>

            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        add another question <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        <li><button class="btn btn-link" type="submit" name="questionType" value="free text">free text</button></li>
                        <li><button class="btn btn-link" type="submit" name="questionType" value="multiple choices">multiple choices</button></li>
                    </ul>
                </div>

                <div class="btn-group">
                    @Html.ActionLink("finish", "FinishQuestion", null, new { @class = "btn btn-default" })
                </div>
            </div>
        }
    </div>
</body>
</html>
