@using PollInTheAir.Domain.Models

@model Question

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PAGETITLE {
    Create free text question
}

@using (Html.BeginForm("CreateFreeTextQuestion", "PollCreation"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Statement)
        @Html.TextBoxFor(m => m.Statement, new { @class = "form-control", @maxlength = "128", @required = "required" })
        @Html.ValidationMessageFor(m => m.Statement)
    </div>

    @Html.Partial("PollCreation/_CreateQuestionsButtonGroup", true)
}