@using PollInTheAir.Domain.Models

@model Question

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PAGETITLE {
    Create free text question
}

@using (Html.BeginForm("CreateFreeTextQuestion", "PollCreation"))
{
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.Statement)
            @Html.TextBoxFor(m => m.Statement, new { @class = "form-control", @maxlength = "128" })
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <textarea class="form-control" rows="3" readonly="readonly"></textarea>
        </div>
    </div>

    @Html.Partial("CreateQuestionsButtonGroup", new ViewDataDictionary { { "ShowFinishButton", true }, { "SectionTitle", "add more questions" } })
}