@model PollInTheAir.Domain.Models.Poll

<p>Your '@Model.Name' poll were published successfully!</p>
<p>Thank you for your participation!!!</p>

@section PAGETITLE {
    Your poll is now available!!!
}