@using PollInTheAir.Domain.Models

@model bool

<style>
    #finishButton {
        margin-top: 20px;
    }
</style>

<button class="btn btn-default btn-block" type="submit" name="questionType" value="@QuestionType.FreeText">add free text question</button>

<button class="btn btn-default btn-block" type="submit" name="questionType" value="@QuestionType.MultipleChoices">add multiple choices question</button>

@if (@Model)
{
    <button id="finishButton" class="btn btn-default btn-block" type="submit" name="questionType" value="@QuestionType.Undefined">finish</button>
}