@using PollInTheAir.Domain.Models

@model bool

<style>
    #finishButton {
        margin-top: 20px;
    }
</style>

<button class="btn btn-primary btn-block" type="submit" name="questionType" value="@QuestionType.FreeText">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    add free text question
</button>

<button class="btn btn-primary btn-block" type="submit" name="questionType" value="@QuestionType.MultipleChoices">
    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
    add multiple choices question
</button>

@if (@Model)
{
    <button id="finishButton" class="btn btn btn-primary btn-block" type="submit" name="questionType" value="@QuestionType.Undefined">finish</button>
}