<!DOCTYPE html>

<html>

<head>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("SCRIPTS", false)

    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    @RenderSection("STYLES", false)

    <meta name="viewport" content="width=device-width" />

    <title>Poll in the air</title>
</head>

<body>
    <div class="container">
        <div>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Brand</a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="page-header">
            <h1>@RenderSection("PAGETITLE", true)</h1>
        </div>

        @RenderBody()

    </div>
</body>
</html>