@using PollInTheAir.Domain.Models

@model Question


@using (@Html.BeginForm("AnswerFreeTextQuestion", "PollAnswer"))
{
    {
        @Html.Hidden("Question.Id", @Model.Id)
        @Html.TextArea("Comment", new { @rows = "3", @class = "form-control" })
    }

    <div>
        <button class="btn btn-default" type="submit">answer</button>
    </div>
}
