@using PollInTheAir.Domain.Models

<div class="row">
    <div class="form-group">
        @Html.Label((string)ViewData["SectionTitle"])
    </div>
</div>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button class="btn btn-default" type="submit" name="questionType" value="@QuestionType.FreeText">free text</button>
    </div>

    <div class="btn-group" role="group">
        <button class="btn btn-default" type="submit" name="questionType" value="@QuestionType.MultipleChoices">multiple choices</button>
    </div>

    @if ((bool)ViewData["ShowFinishButton"])
    {
        <div class="btn-group" role="group">
            <button class="btn btn-default" type="submit" name="questionType" value="@QuestionType.Undefined">finish</button>
        </div>
    }
</div>
