@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" />

    <script language="javascript">
        $(function () {
            navigator.geolocation.getCurrentPosition(showPosition, positionError);

            function showPosition(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                $("#Latitude").val(pos.lat);
                $("#Longitude").val(pos.lng);
            }

            function positionError(position) {
                $('#LocationModal').modal('toggle');

                $('#CreatePollButton').addClass('disabled');

                $('#AnswerPollButton').prop('disabled', true);
                $('#AnswerPollButton').css('cursor', 'context-menu');
            }
        });
    </script>

    <title>Poll in the air</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1><small>welcome to </small>pool in the air</h1>

            <p>where you can get information from the cloud...</p>

            <br /><br /><br />

            @using (Html.BeginForm("AvailablePolls", "PollAnswer", FormMethod.Post))
            {
                @Html.ActionLink("create poll", "CreatePoll", "PollCreation", null, new { @class = "btn btn-primary btn-lg", @id = "CreatePollButton" })

                @Html.Hidden("Latitude")
                @Html.Hidden("Longitude")

                <input id="AnswerPollButton" type="submit" value="answer poll" class="btn btn-primary btn-lg" di />

                @Html.ActionLink("view poll", "AvailableResultPolls", "PollResults", null, new { @class = "btn btn-primary btn-lg", @id = "ViewPollButton" })
            }

            <div class="modal fade" tabindex="-1" role="dialog" id="LocationModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Ooops! Something went wrong!</h4>
                        </div>
                        <div class="modal-body">
                            <p>We need your location in order to proceed!</p>
                            <p>Some features may get disabled!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>