@model IEnumerable<PollInTheAir.Domain.Models.Poll>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PAGETITLE {
    Available polls
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>name</th>
            <th>expires at</th>
            <th>created by</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var poll in Model)
        {
            <tr>
                <td>@Html.ActionLink(poll.Name, "AnswerPoll", "PollAnswer", new { pollId = @poll.Id }, null)</td>
                <td>@poll.ExpirationDate</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>