@model PollInTheAir.Domain.Models.Poll

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PAGETITLE {
    Thank you for your participation!!!
}

<p>Your answers for '@Model.Name' poll were saved successfully!</p>
<p>Thank you for your participation!!!</p>