@model PollInTheAir.Domain.Models.Poll

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PAGETITLE {
    @Resources.Resources.thanksParticipation
}

<p>@string.Format(Resources.Resources.thanksParticipationMsg, Model.Name)</p>