@model PollInTheAir.Domain.Models.Poll

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/Content/bootstrap.css" />

    <title>Poll in the air</title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Thank you for your participation!!!</h1>
        </div>

        <p>Your answers for '@Model.Name' poll were saved successfully!</p>
        <p>Thank you for your participation!!!</p>
    </div>
</body>
</html>