@using PollInTheAir.Domain.Models;

@model IEnumerable<Note>

@foreach (var note in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">@note.Description</div>
        @if (note.FileId != 0)
        {
            <div class="panel-body">
                <img src="@Url.Action("ShowImage", "Note", new { fileId = note.FileId })" class="img-rounded" />
            </div>
        }
    </div>
}

@section PAGETITLE {
    @Resources.Resources.availableNotes
}