@using PollInTheAir.Domain.Models

@model MultipleChoicesQuestionResultsSummary

<script type="text/javascript">
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Choice');
        data.addColumn('number', 'Total');

        @foreach (var summary in @Model.ChoicesSummary)
        {
            <text>
        data.addRow(['@summary.Choice', @summary.Total]);
        </text>
        }

        // Set chart options
        var options = {
            width: 300,
            height: 180,
            is3D: true
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('question_@Model.Question.Id'));
        chart.draw(data, options);
    }
</script>

<div id="question_@Model.Question.Id"></div>